/* Home.css */
@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  body {
    animation: moveBackground 30s linear infinite;
  }
  